###########################################################################
# Konclude WordPress Optimizer
# @author Archie Makuwa
#
###########################################################################

.DS_Store
**/.DS_Store
